$mobile: 590px;
.bgcolored {
  /* Created with https://www.css-gradient.com */
  background: #f27941;
  background: -webkit-linear-gradient(top left, #f27941, #b24f1a);
  background: -moz-linear-gradient(top left, #f27941, #b24f1a);
  background: linear-gradient(to bottom right, #f27941, #b24f1a);
  height: 100vh;
  width: 100%;
}
.activity-page-wrapper {
  overflow-x: hidden;
}
.activity-content-wrapper {
  padding: 50px 100px;
  .activity-content-heading {
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(102, 159, 178);
    line-height: 0.9;
    text-align: left;
    margin-bottom: 10px;
  }
  .activity-content-labels-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
    scrollbar-width: 1px !important;
    padding-bottom: 10px;
    div {
      background: rgb(255, 255, 255);
      border: 1px solid rgb(194, 217, 224);
      border-radius: 34px;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: rgb(25, 47, 84);
      padding: 5px 10px;
      margin: 0px 5px 5px 0px;
      white-space: nowrap;
    }
  }
  .activity-content-shortdesc {
    color: #192f54;
    font-size: 14px;
    line-height: 24px;
    color: rgb(25, 47, 84);
    white-space: pre-wrap;
  }
  .activity-content-longdesc {
    font-size: 14px;
    line-height: 24px;
    color: rgb(25, 47, 84);
    margin-bottom: 30px;
    white-space: pre-wrap;
  }
  .activity-nearby-wrapper {
    h2 {
      color: rgb(102, 159, 178);
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.fadein {
  animation-name: fadeIn;
  animation-duration: 2s;
  transition: all 2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: $mobile) {
  .activity-content-wrapper {
    padding: 20px;
  }
}
